<modules>
  <module assemblyFile="TimeLine.Main.dll" moduleType="TimeLine.Main.MainModule, TimeLine.Main" moduleName="MainModule" />
  <module assemblyFile="TimeLine.Board.dll" moduleType="TimeLine.Board.BoardModule, TimeLine.Board" moduleName="BoardModule">
    <dependencies>
      <dependency moduleName="MainModule" />
    </dependencies>
  </module>
</modules>